@import '../../styles/variables.scss';
@import '../../styles/screens.scss';

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;

    @include mobile-screens {
        flex-direction: column;
        height: auto;
    }
}