body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cascadia Code', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: block;
  height: 4rem;
  width: 16rem;
  margin-bottom: 2rem;
  background-color: white;
  border: 0.25rem solid;
  border-radius: 1rem;
  box-shadow: none;
  cursor: pointer;
}